*:focus {
    outline: none;
}
html {
    font-size: 62.5%;
}
@include main; 

.container {
    max-width: 1920px;
    margin: 0 auto;
    @media only screen and(max-width: 1920px) {
        max-width: 1845px;    
    }
    @media only screen and(max-width: 1900px) {
        padding: 0 30px;
    }
    @media only screen and(max-width: 768px) {
        padding: 0 15px;
    }
}
body {
    background-color: $background_color;
    // overflow-y: scroll;
    // scrollbar-width: none;
    // -ms-overflow-style: none;
    // -webkit-overflow-scrolling: touch;
}