
body {
    font-size: 21px;
    letter-spacing: 2px;
    color: $main_text_color;
    line-height: 1.6;
    @media only screen and(max-width: 768px) {
        font-size: 14px;
    }
}

// li {
//     font-size: 21px;
//     letter-spacing: 2px;
// }

// p {
//     font-size: 21px;
//     letter-spacing: 2px;
//     color: $main_text_color;
// }
a {
    // font-size: 21px;
    // letter-spacing: 2px;
    // color: $main_text_color;
    text-decoration: none;
    color: $main_text_color;
}

// .text--color {
//     background: $bg-color;
//     color: set-text-color($bg-color);
// }